* {
	transition: all 1s ease;
}

body {
	background: url(images/back_1.png) no-repeat;
	background-size: 100%;
}

.person {
	height: 250px;
	position: absolute;
	bottom: 0px;
	opacity: 0;
	display: none;
}

#brb {
	left: 20px;
}

#pimp {
	left: 20px;
}

#player {
	right: 20px;
}

.conver {
	position: absolute;
	bottom: 300px;
	height: 200px;
	width: 300px;
	opacity: 0;
	display: none;
}

#say {
	left: 320px;
	bottom: 300px;
}

#cit {
	right: 320px;
	bottom: 300px;
}

.btn {
	background: linear-gradient(45deg, rgba(256,256,256,0.5) 0%,rgba(128,128,256,0.5) 50%,rgba(0,0,256,0.5) 100%);
	border-radius: 4px;
	box-shadow: 0px 2px 4px rgba(34,62,66,.25);
	color: #eee;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 16px 52px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: box-shadow 1s ease;
	transition: all 1.5s ease;
	opacity: 0;
	position: absolute;
	font-style: italic;
	display: none;
}

.btn:hover {
	background: linear-gradient(45deg, rgba(256,256,256,0.8) 0%,rgba(128,128,256,0.8) 50%,rgba(0,0,256,0.8) 100%);
	box-shadow: 0px 8px 4px rgba(34,62,66,.5);
	-webkit-transition: box-shadow 1s ease;
	transition: all 0.5s ease;
}

#next_button {
	bottom: 15px;
	left: 44%;
}

.personwhenplay {
	height: 150px;
	position: absolute;
	bottom: 0px;
	opacity: 0;
	display: none;
}
#brb1 {
	left: 20px;
}

#pimp1 {
	left: 20px;
}

#player1 {
	right: 20px;
	opacity: 0;
}

#pole {
	border-color: navy;
	opacity: 0;
}
.cell:hover {
	opacity: 1;
	transform: scale(1.1);
	transition: all 0.2s linear;
}
.cell {
	opacity: 0.8;
	transition: all 0.5s ease;

}

.cell_res {
	padding-bottom: 50px;
}


.table {
	background-color: rgba(0,0,0,0);
	opacity: 0;
	transition: all 0.5s ease;

}


#kkk {
	transform: scale(1);
}

h1 {
	font-style: italic;
	color: white;
	margin: 0;
}

#whatplayer {
	font-style: italic;
	color: white;
	margin: 0;
	font-size: 25px;
}

.key {
	opacity: 0;
}

.score {
	color: white;
	font-size: 25px;
	position: absolute;
	top: 0;
	opacity: 0;
}

#score1 {
	left: 30px;
}

#score2 {
	right: 30px;
}

#question {
	opacity: 0;
}

.photo {
	height: 150px;
	position: absolute;
	opacity: 0.8;
}

.photo:hover {
	opacity: 1;
	transition: all 0.5s linear;
	transform: scale(1.2);
}

#ph1 {
	top: 70px;
	left: 10%;
}

#ph2 {
	top: 70px;
	left: 30%;
}

#ph3 {
	top: 70px;
	left: 50%;
}

#ph4 {
	top: 70px;
	left: 70%;
}

#ph5 {
	top: 250px;
	left: 10%;
}

#ph6 {
	top: 250px;
	left: 30%;
}

#ph7 {
	top: 250px;
	left: 50%;
}

#ph8 {
	top: 250px;
	left: 70%;
}

#ph9 {
	top: 430px;
	left: 10%;
}

#ph10 {
	top: 430px;
	left: 30%;
}

#ph11 {
	top: 430px;
	left: 50%;
}

#ph12 {
	top: 430px;
	left: 70%;
}

.when_win {
	position: absolute;
	top: 20px;
	left: 37%;
	display: none;
}

#kub1{
	position: absolute;
	display: none;
	top: 40%;
	left: 10px;
}

#kub2{
	position: absolute;
	display: none;
	top: 40%;
	right: 10px;
}

#id1 {
	bottom: 0;
	color: white;
	opacity: 0.5;
	position: fixed;
	left: 38%;
	transition: all 1s ease-out;
}