body {
	background-image: url(images/back_1.png);
	background-size: 100%;
	padding: 0;
}


.rules {
	display: block;
/*	background: linear-gradient(45deg, rgba(256,256,256,0.5) 0%,rgba(128,128,256,0.5) 50%,rgba(0,0,256,0.5) 100%);*/
	border-radius: 13px; 
	transition: all 2s ease;
	border: 3px solid navy;
	background-color: #C3D381 ;
	font-size: 30px;
	padding: 10px 30px 10px 10px;
	margin-top: 80px;
	margin-right: 150px;
	margin-left: 150px;
}

#zag {
	margin-top: 0px;
	text-align: center;
	font-weight: bold;
}

.startuem {
	background: linear-gradient(45deg, rgba(256,256,256,0.5) 0%,rgba(128,128,256,0.5) 50%,rgba(0,0,256,0.5) 100%);
	border-radius: 4px;
	box-shadow: 0px 2px 4px rgba(34,62,66,.25);
	color: #eee;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 16px 52px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: box-shadow 1s ease;
	transition: all 1.5s ease;
	opacity: 0.8;
	position: absolute;
	top: 60%;	
	left: 44%;
	display: block;
	
}

.startuem:hover {
	background: linear-gradient(45deg, rgba(256,256,256,0.8) 0%,rgba(128,128,256,0.8) 50%,rgba(0,0,256,0.8) 100%);
	box-shadow: 0px 8px 4px rgba(34,62,66,.5);
	-webkit-transition: box-shadow 1s ease;
	transition: all 0.5s ease;
}